name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64
          - os: macos-latest
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup g++ (Linux)
        if: runner.os == 'Linux'
        run: sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100

      - name: Bootstrap
        run: make bootstrap

      - name: Test
        run: make test

      - name: Build
        run: make build

      - name: Build lvpkg
        run: make lvpkg

  test-windows:
    runs-on: windows-latest
    continue-on-error: true
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          install: mingw-w64-ucrt-x86_64-gcc make diffutils

      - name: Bootstrap
        run: make bootstrap

      - name: Test
        run: make test

      - name: Build
        run: make build

      - name: Build lvpkg
        run: make lvpkg
